.header {
	background: #333333;
	display: flex;
	width: 100%;
	top: 0;
	z-index: 9999;
	position: fixed;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex: 1 0 25%;
	padding: 0 15%;
}
#logo {
	margin: 0;
	width: 20%;
	display: flex;
}
#titlePart {
	display: flex;
	flex-direction: row;
}
#logo img {
	width: 60px;
	padding: 5px;
}
#h1 {
	margin: 10px;
	color: white;
}
.container {
	width: 100%;
}
/* menu*/
#menu {
	float: right;
	width: 30%;
	display: inline;
	font-size: 20px;
}
#menu p {
	float: left;
	display: flex;
	flex-direction: row;
	padding-left: 500px;
	color: white;
}
#menu p a {
	padding-left: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	cursor: default;
}
