div.divIndex {
	margin-left: 400px;
	padding-top: 250px;
}

h1.indexh1 {
	width: 50%;
	color: black;
	font-size: 40px;
}
h1.indexh1:hover {
	transform: scale(1.2);
	text-decoration: underline;
	color: #333;
}
p.indexp {
	width: 50%;
	font-size: 20px;
	color: #333;
}
p.indexp:hover {
	transform: scale(1.1);
	text-decoration: underline;
}

@media (max-width: 768px) {
	div.divIndex {
		margin-left: 300px;
	}
}

@media (max-width: 425px) {
	div.divIndex {
		margin-left: 50px;
		padding-top: 150px;
	}
	h1.indexh1 {
		width: 100%;
		color: black;
		font-size: 40px;
	}
	p.indexp {
		margin-left: -20px;
		width: 100%;
	}
}
