#menu {
  display: inline;
  font-size: 20px;
  display: flex;
}
#menu p {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  cursor: default;
  color: white;
}
/* #menu p a {
  padding-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  cursor: default;
} */
